body,
html {
    height: 100%;
}
.card {
    font-size: 70%;
}

.social-icon {
    /* turn off link styling */
    text-decoration: none;
}

/* for the flash class set background color to red and slowly flash by rasing and lowering the opacity */
.flash {
    background-color: tomato;
    animation: flash 1s infinite;
}
/* define the flash animation */
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.restaurante-item {
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px; /* Esquinas redondas */
}

.restaurante-item:hover {
    background-color: #f8f9fa; 
}

.restaurante-item.selected {
    background-color: #d4edda; 
}

/* Botones de recoger aquí */
.btn-recoger {
    border-radius: 10px; /* Esquinas redondas */
}
