* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.r_btn {
    background: #B73028;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2vh 0;
    background-color: grey;
}

.content {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.content > .row {
    flex: 1;
}

#textContent {
    flex: 1;
    text-align: center;
    font-size: x-large;
    padding-top: 10%;
}
#tab_container {
    flex: 3;
    align-self: center;
    width: 65%;
    background-color: aliceblue;
}
#tabs {
    display: flex;
    justify-content: center;
    background-color: grey;

}
#tabs button {
    flex-grow: 1;

    background-color: lightgray;
}
#tabs button.active {
    background-color: white;
}

#tabs_content {
}
/* oscura el tab contenido que no es activa */
#tabs_content > div:not(.active) {
    display: none;
}

#tab_domicilio_content {
    font-size: 2.3vw;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

